/* MAIN STRUCTURE */

.homepage {
    width: 200px;
}

.dark {
    background-color: black;
    color: white;
}

.dark a:hover{
    color: white;
}

.navbar-link{
    margin: 10px;
}

.navbar-button {
    color: white;
}

.form-control{
    margin: 10px;
}

.user_image {
    width: 50px;
}


textarea{
    overflow-y: scroll;
}

.logo {
    width: 100px;
}

.main-content {
    display:grid;
    grid-template-columns: [first] 10% [sidebar] 90% [end];
    grid-template-rows: [top] 5% [one] 5% [two] 5% [three] 5% [four] 80% [bottom]
}

.sidebar {
    position: sticky;
    top: 0;
    grid-column-start: first;
    grid-column-end: sidebar;
    justify-self: stretch;
    align-self: stretch;
    border: 0.5px solid #423841;
}

.container {
    grid-column-start: sidebar;
}

.sidebar-item {
    background-color: #c8bfc7;
    list-style-type: none;
    justify-self: stretch;
    align-self: stretch;
    height: 5vh;
    border: 0.5px solid #423841;
    padding-left: 1%;
}

/* #lists {
    grid-row-start: top;
    grid-row-end: one;
}

#calendar {
    grid-row-start: one;
    grid-row-end: two;
}

#challenges {
    grid-row-start: two;
    grid-row-end: three;
}

#support {
    grid-row-start: three;
    grid-row-end: four;
} */

#blank-space{
    grid-row-start: four;
    grid-row-end: bottom;
    height: 80vh;
}

/* LIST PAGES */

th {
    cursor: pointer;
}


.list-cover{
    width:50px;
}

/* CHALLENGE PAGES */

.challenge-cover {
    width: 100px;
}