/* MAIN STRUCTURE */

.homepage {
    width: 200px;
}

.dark {
    background-color: black;
    color: white;
}

.dark a:hover{
    color: white;
}

.navbar-link{
    margin: 10px;
}

.navbar-button {
    color: white;
}

.form-control{
    margin: 10px;
}

.user_image {
    width: 50px;
}

textarea{
    overflow-y: scroll;
}

.logo {
    width: 100px;
}

.main-content {
    display:grid;
    grid-template-columns: [first] 10% [sidebar] 90% [end];
}

.sidebar {
    position: fixed;
    grid-column-start: first;
    grid-column-end: sidebar;
    justify-self: stretch;
    border: 1px solid #423841;
    height: 100vh;
}

.container {
    grid-column-start: sidebar;
}

.sidebar-item {
    background-color: #c8bfc7;
    list-style-type: none;
    justify-self: stretch;
    align-self: stretch;
    height: 5vh;
    padding-left: 1%;
}


/* LIST PAGES */

th {
    cursor: pointer;
}

.list-cover{
    width:50px;
}

/* CHALLENGE PAGES */

.challenge-cover {
    width: 100px;
}