/* MAIN STRUCTURE */



.dark {
    background-color: black;
    color: white;
}

.dark a:hover{
    color: white;
}

.navbar-link{
    margin: 10px;
}

.navbar-button {
    color: white;
}

.form-control{
    margin: 10px;
}

.user_image {
    width: 50px;
}

textarea{
    overflow-y: scroll;
}

.logo {
    width: 100px;
}

.logged-in-content {
    display:grid;
    grid-template-columns: [first] 12vw [sidebar] 85vw [end];
    grid-template-rows: [top] 14.5vh [content] 75vh [bottom]
}

.sidebar {
    height: 85%;
    width: 11%;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 0;
    background-color: #81CDC6;
    overflow-x: hidden;
    padding-top: 20px
}

.sidebar-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidebar-item:hover{
    background-color: #6DC5BC
}

.main-content {
    grid-column-start: sidebar;
    grid-column-end: end;
    grid-row-start: content;
}

.navbar {
    height: 15%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

/* HOMEPAGE */

.homepage-image {
    width: 13.5vw;
}

.tag-line {
    margin-top: 3vh;
}
/* LIST PAGES */

th {
    cursor: pointer;
}

.list-cover{
    width:50px;
}

/* CHALLENGE PAGES */

.challenge-cover {
    width: 100px;
}

.your-challenges-table {
    margin-top: 5%;
}