{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <form id="search-books" method="POST">
                {% for field in form if field.widget.input_type !='hidden' %}
                <p>
                    {{field.label}}
                    {{field}}

                    {% for error in field.errors %}
                        <div class="text-sm text-danger">
                            {{error}}
                        </div>
                    {% endfor %}
                </p>
                {% endfor %}
                <a href="/users/{{g.user.user_id}}/lists/tbr" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary book-search-button">Search</button>
            </form>
            <p class="mt-5">Can't find your book?</p>
            <a class="btn btn-info" href="/books/manual">Add a book manually</a>
        </div>
        <div class="col-sm api-search-results">
            
        </div>
    </div>
</div>
{% endblock %}