{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form id="search-books" method="POST">
        <span>{{form.field(class_="form-control")}}</span>
        <span>{{form.term(class_="form-control")}}</span>
        <button class="btn btn-primary book-search-button">Search</button>
    </form>
    <div class="col-sm api-search-results">
    </div>
    <p>
        <span class="mt-5">Can't find your book?</span>
        <a class="btn btn-info" href="/books/manual">Add a book manually</a>
    </p>
</div>

{% endblock %}