{% extends 'base.html' %}

{% block content %}

<a href="/challenges" class="btn btn-secondary mt-2 tab all-tab">All Challenges</a>
<a href="users/{{g.user.user_id}}/challenges" class="btn btn-secondary mt-2 tab your-tab">Your Challenges</a>
<a href="/challenges/add" class="btn btn-primary mt-2 add-challenge-button">Add a Challenge</a>

<table class="table-borderless challenges-table" id="challengesTable">
    <thead>
        <tr>
            <th id="challenge-name">Name</th>
            <th id="challenge-books"># of books</th>
            <th id="challenge-desc">Description</th>
            <th id="challenge-buttons"></th>
        </tr>
    </thead>
    <tbody class="challenge-list">

    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    let user_id = '{{g.user.user_id}}'
</script>
<script src="/static/fancytable.min.js"></script>
<script src="/static/challenges.js"></script>
<script src="/static/test/challenges.test.js"></script>
{% endblock %}
