{% extends 'base.html' %}

{% block content %}
<a href="/challenges/add" class="btn btn-primary mt-5">Add a Challenge</a>

<table class="table-bordered table-striped challenges-table" id="challengesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th># of books</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody class="challenge-list">

    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
<script src="/static/challenges.js"></script>
{% endblock %}
