{% extends 'base.html' %}

{% block content %}
{% include 'challenges/tabs.html' %}

<h1>Edit Challenge</h1>

<form method="POST" id="edit_challenge_form">
    {{form.hidden_tag()}}
    
    {% for field in form if field.widget.input_type !='hidden' and field.name !='email_reminders' %}
    <div>
        {% for error in field.errors %}
            <span class="text-danger">{{error}}</span>
        {% endfor %} 
        {{field.label}}
        {{field(class_="form-control")}}
    </div>
    {% endfor %}


    <a href="/challenges" class="btn btn-secondary">Cancel</a>
    <button class="btn btn-primary challenge-edit-button">Save changes</button>
    </form>
{% endblock %}