{% extends 'base.html' %}

{% block content %}

<h1>Create a new challenge</h1>
<form id="challenge-form" method="POST">
    {{form.hidden_tag()}}

    <p>
        {{form.name.label}}
        {{form.name(class_="form-control")}}

        {% for error in form.name.errors %}
            <div class="text-sm text-danger">
                {{error}}
            </div>
        {% endfor %}
    </p>

    <p>
        {{form.num_books.label}}
        {{form.num_books(class_="form-control")}}

        {% for error in form.num_books.errors %}
            <div class="text-sm text-danger">
                {{error}}
            </div>
        {% endfor %}
    </p>

    <p>
        {{form.description.label}}
        {{form.description(class_="form-control")}}

        {% for error in form.description.errors %}
            <div class="text-sm text-danger">
                {{error}}
            </div>
        {% endfor %}
    </p>

    {{form.category_ids(id = 'category-ids-field')}}

    <div id="category-div" class="border rounded m-5">
        <h4>Categories</h4>
        <form class="category-form">    
                {{form2.name.label}}
                {{form2.name(class_="category-name-field")}}
                <ul class="suggestions">

                </ul>

                {{form2.description.label}}
                {{form2.description (class_="category-description-field")}}

            <button class="btn btn-primary add-category-button">Add Category</button>
            <button class="btn btn-danger remove-category-button">Remove Category</button>
        </form>
    </div>
    <a href="/challenges" class="btn btn-secondary mt-5 cancel-button" >Cancel</a>
    <button class="btn btn-primary mt-5">Create Challenge</button>
</form>

<script>
    let categories = '{{categories}}'
</script>

{% endblock %}