{% extends 'base.html' %}

{% block content %}

<h1>Create a new challenge</h1>
<form id="challenge-form" method="POST">
    {{form.hidden_tag()}}

    <p>
        {{form.name.label}}
        {{form.name(class_="form-control", form="challenge-form")}}

        {% for error in form.name.errors %}
            <div class="text-sm text-danger">
                {{error}}
            </div>
        {% endfor %}
    </p>

    <p>
        {{form.num_books.label}}
        {{form.num_books(class_="form-control", form="challenge-form")}}

        {% for error in form.num_books.errors %}
            <div class="text-sm text-danger">
                {{error}}
            </div>
        {% endfor %}
    </p>

    <p>
        {{form.description.label}}
        {{form.description(class_="form-control", form="challenge-form")}}

        {% for error in form.description.errors %}
            <div class="text-sm text-danger">
                {{error}}
            </div>
        {% endfor %}
    </p>

    {{form.category_ids(id = 'category-ids-field')}}
    <a href="/challenges" class="btn btn-secondary mt-5 cancel-button" >Cancel</a>
    <button class="btn btn-primary mt-5">Create Challenge</button>
</form>
{% endblock %}