{% extends 'base.html' %}

{% block content %}
{% include 'challenges/tabs.html' %}

<table class="table-borderless challenges-table your-challenges-table" id="challengesTable">
    <colgroup>
        <col id="your-challenge-name">
        <col id="your-challenge-books">
        <col id="your-challenge-desc">
        <col id="your-challenge-start">
        <col id="your-challenge-end">
        <col id="your-challenge-buttons">
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th># of books</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="challenge-list">

    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    let user_id = '{{g.user.user_id}}'
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
<script src="/static/challenges.js"></script>
<!-- <script src="/static/test/challenges.test.js"></script> -->
{% endblock %}
