{% extends 'base.html' %}

{% block content %}
{% include 'challenges/tabs.html' %}

<table class="table-borderless challenges-table your-challenges-table" id="challengesTable">
    <thead>
        <tr>
            <th id="your-challenge-name">Name</th>
            <th id="your-challenge-books"># of books</th>
            <th id="your-challenge-desc">Description</th>
            <th id="your-challenge-start">Start Date</th>
            <th id="your-challenge-end">End Date</th>
            <th id="your-challenge-buttons"></th>
        </tr>
    </thead>
    <tbody class="challenge-list">

    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    let user_id = '{{g.user.user_id}}'
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
<script src="/static/challenges.js"></script>
<!-- <script src="/static/test/challenges.test.js"></script> -->
{% endblock %}
