{% extends 'base.html' %}

{% block content %}

<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="signupModalLabel">Sign up for TBRead</h1>
                <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="signup_form">
                <div class="modal-body">
                    {% for field in form if field.widget.input_type != "hidden" %}
                        {{ field(placeholder=field.label.text, class="form-control") }}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-button" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id='signup_button' class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
                <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="login_form">
                <div class="modal-body">
                    {% for field in form2 if field.widget.input_type != "hidden" %}
                        {{ field(placeholder=field.label.text, class="form-control") }}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link m-1 p-0 forgot-link" data-bs-toggle="modal" data-bs-target="#forgotUsernameModal">Forgot Username/Password?</button>
                    <button type="button" class="btn btn-secondary cancel-button" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id='login_button' class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="forgotUsernameModal" tabindex="-1" aria-labelledby="forgotUsernameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="forgotUsernameModalLabel">Forgot Username/Password?</h1>
                <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="forgot_username_form">
                <div class="modal-body">
                    {% for field in form3 if field.widget.input_type != "hidden" %}
                        {{ field(placeholder=field.label.text, class="form-control") }}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-button" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id='send_reminder_button' class="btn btn-primary">Send username reminder</button>
                    <button type="submit" id="send_reset_button" class="btn btn-primary">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<h3 class="tag-line">Read. Create. Influence: Your Book Content Companion.</h3>

<div class="about-content">
    <p class="opening-paragraph"><b>You are a busy content creator in the book influencer universe.</b> </p>
    <p>You've got bookshelves coming out your windows and scripts saved every which where on your hard drive. How's a Booktuber/Bookstagrammer/BookTokker to stay organized?</p>
    <p>TB Read is here to help!</p>
    <ul>
        <li>Manage your TBR, DNF, and Completed reading lists.</li>
        <li>Easily move books between your reading lists.</li>
        <li>Keep notes & scripts in each book record.</li>
        <li>Email in notes on the go without visiting the site.</li>
        <li>Create reading challenges.</li>
        <li>Join other user's reading challenges.</li>
        <li>Track your reading challenge progress.</li>
        <li>More features coming soon</li>
    </ul>
    <p><b>Who are you?</b></p>
    <p>I'm Camden, a librarian, book enthusiast, and newly minted software engineer. I'm passionate about data, education, and evidence-based decision making. This is my first project that I'm sharing with the world. Feedback always welcome at tbreadlistmanager@gmail.com</p>
    <p>This website was built with: </p>
</div>

<div class="logos">
    <img class="tech-logo-wide" src="/static/images/tech_logos/python logo.png">
    <img class="tech-logo-tall" src="/static/images/tech_logos/javascript logo.webp">
    <img class="tech-logo-wide" src="/static/images/tech_logos/flask logo.webp">
    <img class="tech-logo-wide" src="/static/images/tech_logos/PostgreSQL-Logo.jpg">
    <img class="tech-logo-wide" src="/static/images/tech_logos/sql alchemy logo.png">
</div>


{% endblock %}