<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <title>TBRead</title>
</head>
<body>
    <nav class="navbar navbar-expand dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand dark" href="/">TBRead</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </nav>
    {% if g.user %}
    <ul class="nav flex-column">
        <li class="nav-item">Lists</li>
        <li class="nav-item">Calendar</li>
        <li class="nav-item">Challenges</li>
        <li class="nav-item">Notes & Scripts</li>
    </ul>
    {% endif %}
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert edit-css alert-{{category}}">{{message}}</div>
        {% endfor %}

        <h1 class="my-4">Update Password</h1>

        <form id="password-reset" method="POST">
            {{form.hidden_tag()}}

            {% for field in form if field.widget.input_type != 'hidden' %}

            <p>
                {{field.label}}
                {{field(class_="form-control")}}

                {% for error in field.errors %}
                <div class="text-sm text-danger">
                    {{error}}
                </div>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Update Password</button>
        </form>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <script src="/static/bootstrap.bundle.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/users.js"></script>
</body>
</html>