{% extends 'base.html' %}
{% block content %}
<div class="modal fade" id="postDaysModal" tabindex="-1" aria-labelledby="postDaysModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="postDaysModalLabel">Set Post Days</h1>
                <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="post-days-form">
                <div class="modal-body">
                    {% for field in form if field.widget.input_type != "hidden" %}
                        {{field.label}}
                        {{ field(placeholder=field.label.text, class="form-control") }}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-button" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id='post_days_button' class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if not g.user.calendar_id %}
    <a class="btn btn-primary" href="/users/{{g.user.user_id}}/oauth">Create Your Calendar</a>
{% endif %}

{% if g.user.calendar_id %}
    <div class="alert error-div"></div>
    <iframe src="https://calendar.google.com/calendar/embed?src={{g.user.calendar_id}}" style="border:0" width="900" height="800" frameborder="0" scrolling="no"></iframe>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postDaysModal">Set Posting Schedule</button>
    <button class="btn btn-info">Set Work Schedule</button>
{% endif %}
{% endblock %}


{% block scripts %}
<script src="/static/calendar-gc.min.js"></script>
<script src="/static/moment-with-locales.min.js"></script>
<script src="/static/calendars.js"></script>
{% endblock %}
