{% extends 'base.html' %}
{% block content %}

{% if not g.user.calendar_id %}
    <a class="btn btn-primary" href="/users/{{g.user.user_id}}/oauth/create">Create Your Calendar</a>
{% endif %}

{% if g.user.calendar_id %}
    <div class="alert error-div"></div>
    <iframe src="https://calendar.google.com/calendar/embed?src={{g.user.calendar_id}}" style="border:0" width="900" height="800" frameborder="0" scrolling="no"></iframe>
    <a class="btn btn-primary" href="/users/{{g.user.user_id}}/oauth/posting">Set Posting Schedule</a>
    <button class="btn btn-info">Set Work Schedule</button>
{% endif %}
{% endblock %}


{% block scripts %}
<script src="/static/calendar-gc.min.js"></script>
<script src="/static/moment-with-locales.min.js"></script>
<script src="/static/calendars.js"></script>
{% endblock %}
