{% extends 'base.html' %}
{% block content %}

    <a href="/users/{{g.user.user_id}}/lists/tbr" class="btn btn-secondary mt-1 tab tbr-tab">TBR</a>
    <a href="/users/{{g.user.user_id}}/lists/dnf" class="btn btn-secondary mt-1 tab dnf-tab">Did Not Finish</a>
    <a href="/users/{{g.user.user_id}}/lists/complete" class="btn btn-secondary mt-1 tab complete-tab">Complete</a>
        <a href="/books" class="btn btn-primary add-books-button mt-1">Add Books</a>

    <table class="table-borderless table-striped book-list-table" id="tbrlistTable">
        <thead>
            <tr>
                <th id="cover">Cover</th>
                <th class="title">Title</th>
                <th class="author">Author</th>
                <th class="publisher">Publisher</th>
                <th class="pub-date">Pub Date</th>
                <th class="pages">Pages</th>
                <th class="buttons" colspan="3"></th>
            </tr>
        </thead>
        <tbody class="user-book-list">

        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        let g_user_id = "{{g.user.user_id}}";
        let type = 'tbr';
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script> -->
    <script src="/static/fancytable.min.js"></script>
    <script src="/static/lists.js"></script>
    <!-- <script src="/static/test/lists.test.js"></script> -->
{% endblock %}
